---
import Layout from "../layouts/Layout.astro";

import AboutMe from "../components/AboutMe.astro";
import TitleSection from "../components/TitleSection.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import VSCodeIcon from "../components/icons/VSCode.astro";
import Projects from "../components/Projects.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro";
import Education from "../components/Education.astro";
import SchoolIcon from "../components/icons/School.astro";
---

<Layout
  title="Bautista Tobal - Developer & Computer Engineer Student"
  description="Explore my portfolio to see my projects and skills, and feel free to contact me for freelance work, collaborations, or job opportunities!"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="experience">
      <TitleSection>
        <BriefcaseIcon class="size-8" />
        Experience
      </TitleSection>
      <Experience />
    </SectionContainer>
    <SectionContainer id="education">
      <TitleSection>
        <SchoolIcon class="size-9" />
        Education
      </TitleSection>
      <Education />
    </SectionContainer>

    <SectionContainer id="projects">
      <TitleSection>
        <VSCodeIcon class="size-7" />
        Projects
      </TitleSection>
      <Projects tag="h2" />
    </SectionContainer>

    <SectionContainer id="about">
      <TitleSection>
        <ProfileCheck class="size-8" />
        About
      </TitleSection>
      <AboutMe />
    </SectionContainer>

    <!-- TODO: Contact Section. -->
  </div>
</Layout>
