---
const personalImageAlt = "Bautista Tobal";
import Badge from "./Badge.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
import GitHubIcon from "./icons/GitHub.astro";
import Socials from "./Socials.astro";
import MailIcon from "./icons/MailIcon.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/public/img/profile-pic.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/bautitobal"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Available for Hire</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, I am Bautista
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +3 years of experience. <strong
      >Computer Engineering student and Frontend & Python Developer</strong
    > from Buenos Aires, Argentina 🇦🇷. Also one of my passions are Cybersecurity.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <Socials href="https://linkedin.com/in/bautistatobal">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </Socials>
    <Socials href="https://github.com/bautitobal">
      <GitHubIcon class="size-4" />
      GitHub
    </Socials>
    <Socials href="mailto:bautitobal11@gmail.com">
      <MailIcon class="size-5" />
      bautitobal11@gmail.com
    </Socials>
  </nav>
</div>
